body{
    background-color: #1E2749;
    color: #E4D9FF;
    font-family: "Open Sans", sans-serif;
}

.container {
    background-color: #30343F;
    text-align: center;
}

.startquiz{
    background-color: #273469;
    color: #FAFAFF;
    width: 20%;
    margin-bottom: 20px;
    border: 2px solid #FAFAFF;
    padding:10px;
    font-size: 20px;
    border-radius: 20px;
}

.startquiz:hover{
    background-color: #020e3d;
    color: #7777c7;
}